body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9ch;
    background-color: rgba(3,42,73);
    
}
.logo{
    background-color: whitesmoke;
    border-radius:40px;
    margin-left: 40px;
    margin-top: 20px;
    width: 10rem;
  }


  header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: all 0.3s;
}

header nav ul li a:hover {
    color: #b0c4de;
    text-decoration: underline;
    transform: translateY(-2px);
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin: 60px;
}

.intro {
    max-width: 50%;
}

.intro h1 {
    font-size: 48px;
    margin-bottom: 60px;
}

.intro p {
    font-size: 18px;
    margin-bottom: 60px;
}

.intro button {
    background-color: #162A46;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.image-container {
    max-width: 45%;
}

.image-container img {
    width: 100%;
}
