*{
    margin: 0;
    padding: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}
header {
  background-color: rgba(3,42,73);
  display:flex;
  justify-content: space-between;
  height: 10ch;
}

.logo{
  background-color: whitesmoke;
  border-radius:40px;
  margin-left: 40px;
  margin-top: 20px;
  width: 20ch;
}