header {
    background-color: rgba(3,42,73);
    display:flex;
    justify-content: space-between;
    height: 10ch;
}

*{
    margin: 0;
    padding: 0;
   
}

.logo{
   background-color: whitesmoke;
   border-radius:40px;
   margin-left: 40px;
   margin-top: 20px;
   width: 20ch;
}



a{
    color:white;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    cursor:pointer;
    transition: color .5s ease-in;
    text-decoration: none;
    position: relative;

}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.login-form{
    display: flex;
    justify-content: flex-end;
}
.range{

    display: flex;
    justify-content: space-around;
    
}

.body{
    display: flex;
    justify-content: ;

}

